@import "src/app/styles/theme";

footer {
  align-items: center;
  background-color: rgba($primary, 0.05);
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  text-align: center;

  p {
    margin: 0;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }
}
