@import "../../styles/theme.css";
footer {
  align-items: center;
  background-color: var(--primaryLight);
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  text-align: center;
}
footer p {
  margin: 0;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}
