@import "../../styles/theme.css";
 #list {
	 align-items: stretch;
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
}
 #list .item {
	 background-color: var(--background);
	 border-radius: 7px;
	 cursor: pointer;
	 margin: 5px;
	 padding: 30px 15px;
	 transition: all ease 0.4s;
	 width: 30%;
}
 #list .item:hover {
	 background-color: var(--primaryLight);
	 transform: scale(1.03);
}
 @media (max-width: 767px) {
	 #list .item {
		 width: 50%;
	}
}
 @media (max-width: 499px) {
	 #list .item {
		 width: 100%;
	}
}
 #list .item .wrap-content {
	 margin: auto;
	 width: 60%;
}
 @media (max-width: 767px) {
	 #list .item .wrap-content {
		 width: 80%;
	}
}
 @media (max-width: 499px) {
	 #list .item .wrap-content {
		 width: 100%;
	}
}
 #list .item .wrap-content .wrap-thumbnail {
	 align-items: center;
	 display: flex;
	 height: 20vh;
	 justify-content: center;
	 min-height: 140px;
}
 #list .item .wrap-content .wrap-thumbnail .thumbnail {
	 height: auto;
	 max-height: 100%;
	 max-width: 100%;
	 width: auto;
}
 #list .item .wrap-content .name {
	 font-size: 17px;
	 font-weight: normal;
	 margin-bottom: 0;
}
 #list .item .wrap-content .type {
	 color: #aaa;
	 font-size: 14px;
	 margin: 0;
}
 #list .item .wrap-content .discount {
	 background-color: var(--primary);
	 border-radius: 5px;
	 color: white;
	 font-size: 12px;
	 font-weight: 600;
	 padding: 0 5px;
}
