.bar-note {
  display: flex;
  justify-items: stretch;

  .note {
    background-color: gray;
    border-radius: 7px;
    height: 7px;
    margin: 5px;
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
