@import "src/app/styles/theme";

.short-data-sheet {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .picture,
  .container {
    @media (max-width: 1023px) {
      width: 100% !important;
    }
  }

  .picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    width: 400px;
  }

  .container {
    width: calc(100% - 420px);

    .name {
      font-weight: 100;
      font-size: 22px;

      @media (max-width: 1023px) {
        font-size: 18px;
        text-align: center;
      }
    }

    .wrap-chips {
      display: flex;
      flex-wrap: wrap;
      margin: -7px;

      @media (max-width: 1023px) {
        justify-content: center;
      }

      .chip {
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 100;
        line-height: 24px;
        margin: 7px;
        padding: 2px 12px;
        transition: all ease 0.5s;

        .evino-icons,
        .icon {
          height: 20px;
          margin-right: 3px;
          width: 20px;
        }

        .evino-icons {
          height: 18px;
          font-size: 18px;
          width: 18px;
        }
      }
    }

    .wrap-infos {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 24px -10px 0;

      .info {
        display: flex;
        padding: 10px;
        width: 33%;

        @media (max-width: 599px) {
          width: 100%;
        }

        .evino-icons {
          color: $primary;
          font-size: 24px;
          margin-right: 8px;
        }

        .info-text {
          .label {
            font-size: 14px;
            font-weight: 600;
            min-height: 24px;
            margin: 0px;
          }

          .value {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
