<div class="data-sheet">
  <h1 class="section-title">Ficha Técnica</h1>

  <div class="wrap-notes">
    <div *ngFor="let item of notes" class="note">
      <h2 class="label">{{ item.label }}</h2>
      <ev-bar-note
        [note]="item.note"
        [primaryColor]="colors.primary"
        [backgroundColor]="colors.backgroundContrast"
      ></ev-bar-note>
    </div>
  </div>

  <div class="wrap-infos">
    <div *ngFor="let item of infos" class="info">
      <i class="evino-icons" [ngClass]="handleIcon(item?.icon)"></i>
      <div class="info-text">
        <h1 class="label">{{ item?.label || "-" }}</h1>
        <p class="value">{{ item?.value || "-" }}</p>
      </div>
    </div>
  </div>

  <br />

  <ng-container *ngIf="data?.prizesAndMedals?.length">
    <h1 class="section-title">Premiações</h1>
    <div class="wrap-premiations">
      <div *ngFor="let item of data?.prizesAndMedals" class="premiation">
        <img [src]="premiationsUrl + item" />
      </div>
    </div>
  </ng-container>
</div>
